<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1copy" crossorigin="anonymous"></script>
    <script src="://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Bartender Dashboard</title>
</head>
<body class = "p-3 mb-2 bg-warning text-dark">
    <header>
        <h3>Welcome {{bartender.name}}!</h3>
        <div class="navigation">
            <form action="switch_employee" method="post">
                {%csrf_token%}
                <select name="employee" id="employee">
                    {%for employee in all_bartenders%}
                    <option value="{{employee.id}}">{{employee.name}}</option>
                    {%endfor%}
                </select>
                <input type="submit" value="Switch Bartender">
            </form> | <a href="">Schedule</a> | <a href="cashout">Cashout</a>
        </div>
        {%if bartender.is_manager%}
        <div class="navigation">
            <a href="/bar/drinks">Drinks:</a>
            <a href="/bar/employees">Employees:</a> 
        </div>
        {%endif%}
    </header>
    {% if bartender.is_manager %}
    {%for tab in all_tabs%}
    <div class="table">
        <h3>{{tab.id}} - {{tab.patron.first_name}}</h3>
        <ul>
        {%for drink in tab.drinks.all%}
            <li>{{drink.name}} - {{drink.cost}}</li>
        {%endfor%}
        </ul>
        <p>Total = {{tab.total}}</p>
        <a href="close_out/{{tab.id}}" class="button">Close Out</a><a href="edit/{{tab.id}}">Edit Tab</a></li>
    </div>
    {%endfor%}
    {%else%}
    {%for tab in bartender.open_tabs.all%}
    <div class="table">
        <h3>{{tab.id}} - {{tab.patron.first_name}}</h3>
        <ul>
        {%for drink in tab.drinks.all%}
            <li>{{drink.name}} - {{drink.cost}}</li>
        {%endfor%}
        </ul>
        <p>Total = {{tab.total}}</p>
        <a href="{{tab.id}}/close_out" class="button">Close Out</a>
    </div>
    {%endfor%}
    {%endif%}
</body>
</html>