<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1copy" crossorigin="anonymous"></script>
    <script src="://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Bartender Dashboard</title>
</head>
<body class = "p-3 mb-2 bg-light text-dark">
    <header>
        <div class="d-flex justify-content-between">
            <h1 class="display-4">Welcome!</h1>
            <div class="p-2"><a href="/bar/dashboard">Go Back</a>
                <a href="/logout">Log Out</a></div>
        </div>
        <div class="d-flex justify-content-end">
        <p>{{bartender.name}} is logged in</p></div>

        <div class="sidebar-sticky pt-3">
            <ul class = "nav flex-column">
                <form action="switch_employee" method="post">
                {%csrf_token%}
                <select name="employee" id="employee">
                    {%for employee in all_employees%}
                    {%if employee.id in clocked_in and employee.id != bartender.id%}
                    <option value="{{employee.id}}">{{employee.name}}</option>
                    {%endif%}
                    {%endfor%}
                </select>
                <input type="submit" value="Switch Bartender">
            </form> | <a href="/bar">Clock In</a> | <a href="">Schedule</a> | <a href="/bar/cashout">Cashout</a>
        </ul>
        </div>
        {%if bartender.is_manager%}
        <div class="navigation">
            <a href="/bar/drinks">Drinks:</a>
            <a href="/bar/employees">Employees:</a> 
        </div>
        {%endif%}
    </header>
    {% if bartender.is_manager %}
    {%for tab in all_tabs%}
    <div class="table">
        <h3>{{tab.id}} - {{tab.patron.first_name}}</h3>
        <ul>
        {%for drink in tab.drinks.all%}
            <li>{{drink.name}} - {{drink.cost}}</li>
        {%endfor%}
        </ul>
        <p>Total = {{tab.total}}</p>
        <a href="close_out/{{tab.id}}" class="button">Close Out</a><a href="edit/{{tab.id}}">Edit Tab</a></li>
    </div>
    {%endfor%}
    {%else%}
    {%for tab in all_tabs%}
    {%if tab.id in new_tabs%}
    <div class="table">
        <h3>New Tab!</h3>
        <a href="pick_up/{{tab.id}}">Pick it Up</a>
    </div>
    {%endif%}
    {%endfor%}
    {%for tab in bartender.open_tabs.all%}
    <div class="table">
        <h3>{{tab.id}} - {{tab.patron.first_name}}</h3>
        <ul>
        {%for drink in tab.drinks.all%}
            <li>{{drink.name}} - {{drink.cost}}</li>
        {%endfor%}
        </ul>
        <p>Total = {{tab.total}}</p>
        <a href="close_out/{{tab.id}}" class="button">Close Out</a>
        <a href="drop/{{tab.id}}">Drop Tab</a>
    </div>
    {%endfor%}
    {%endif%}
</body>
</html>