<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1copy" crossorigin="anonymous">
    </script>
    <script src="://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <title>Document</title>
</head>

<body class="p-3 mb-2 bg-light text-dark">
    <div class="d-flex flex-row-reverse">
        <div class="p-2"><a href="/bar/dashboard">Go Back</a></div>
        <div class="p-2"><a href="/logout">Log Out</a></div>
    </div>
    <div class="d-flex justify-content-center">
    <h3>Add a Drink</h3></div>
    <div class="d-flex justify-content-center">
    <form action="/bar/drinks/update/{{this_drink.id}}" method="POST">
        <div class="form-group">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" class="form-control" name="name" id="name" value = "{{this_drink.name}}"><br>
        <label for="description">Drink Description:</label>
        <input type="text" class="form-control" name="description" id="description" value = "{{this_drink.description}}"><br>
        <label for="cost">Price:</label>
        <input type="number" name="cost" id="cost" value = "{{this_drink.cost}}"><br>
        <input type="submit" class="btn btn-primary btn-lg btn-block"  value="Add">
    </div>
    </form>
</div>

</body>

</html>