<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1copy" crossorigin="anonymous"></script>
    <script src="://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body class = "p-3 mb-2 bg-light text-dark">
    <div class="d-flex justify-content-between">
        <h1 class="display-3">Employees</h1>
        <div class="p-2"><a href="/bar/dashboard">Go Back</a>
            <a href="/logout">Log Out</a></div>
    </div>
    <br>
    <div class="d-flex justify-content-end">
    <a href="/bar/addemployee" class="btn btn-secondary">Add a New Employee!</a></div>
    <br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Employee Name</th>
                <th scope="col">Manager Authorization</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for employees in all_employees.all %}
            <tr>
                <th scope="row">{{employees.id}}</th>
                <td>{{employees.name}}</td>
                <td>{{employees.is_manager}}</td>
                <td><a href="/bar/employees/delete/{{employees.id}}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>