<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,, shrink-to-fit=no">
    {% load static %}
    {% load mathfilters %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous">
    </script>
    <title>BarTab</title>
</head>

<body>
    <div class="d-flex justify-content-between">
        <h1 class="display-6">Hello {{patron.first_name}}!</h1>
        <div class="p-2">
            <a href="/patron/account" class="btn btn-secondary">Account</a>
            <a href="/logout" class="btn btn-secondary">Logout</a></div>
    </div>
    <br>
    <br>
    <div class="justify-content-center">
        <a href="/pay_tab" class="btn btn-secondary">Pay my tab</a>
        <br>
            {% for drink in current_tab.line_items.all %}
            <p>{{drink.name}} - {{drink.cost|div:100|floatformat:2}}</p>
            {% endfor %}
            <!--Total for current tab-->
            <p>Subtotal: {{current_tab.total|div:100|floatformat:2}}</p>
    </div>
    <script type="text/javascript">
        setTimeout(function(){
            location.reload();
        }, 10000)
    </script>
</body>

</html>