<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous">
    </script>
    <title>Account</title>
</head>
<body class="p-3 mb-2 bg-light text-dark">
    <header>
        <h3>{{patron.first_name}}</h3>
        <nav>
            <a href="/patron/account">Account</a>
            <a href="/return_home">Return to Home</a>
            <a href="/logout">Logout</a>
        </nav>
    </header>
    <form action="/patron/update_info" method="POST">
        {% csrf_token %}
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" id="first_name" value="{{patron.first_name}}">
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" id="last_name" value="{{patron.last_name}}">
        <!-- took out valid to drink, this would be changed by age, not by user -->
        <label for="email_address">Email:</label>
        <input type="text" name="email_address" id="email_address" value="{{patron.email_address}}">
        <!-- Put Password behind a separate page, maybe use jquery? -->
        <!-- <label for="password">Password:</label>
        <input type="password" name="password" id="password">
        <label for="confirm_pw">Confirm PW:</label>
        <input type="password" name="confirm_pw" id="confirm_pw"> -->
        <input type="submit" value="Update Info">
        </div>
    </form>
    {% if messages %}
        <ul class='messages'>
            {% for message in messages %}
            <li class="{{message.tags}}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    <div>
        <h2>Account History</h2>
        <h3>Your Tabs</h3>
        <!-- put this in a overflow style container -->
        {% for tab in patron.tabs.all reversed %}
            <p>{{tab.updated_at}} - {{tab.total}}</p>
            <!-- Maybe make it to where by clicking on the order total/updated at area this would expand out to display all the drinks? -->
            {% for drink in tab.drinks.all reversed %}
                <p>{{drink.name}} - {{drink.cost}}</p>
            {% endfor %}
        {% endfor %}
    </div>
</body>
</html>