<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous">
    </script>
    <title>BarTab</title>
</head>

<body class="p-3 mb-2 bg-light text-dark">
    <div class="d-flex justify-content-center">
        <h1 class="display-6">Hello {{patron.first_name}}!</h1>
    </div>
    <div>
        <h5 class="text-center">Thank You!</h5>
        <h6 class="text-center">Would you like to add a tip?</h6>
        <form action="/tip_select" method="POST">
            {% csrf_token %}
            <input type="radio" id="zero" name="tip" value="0">
            <label for="zero">No tip</label><br>
            <input type="radio" id="ten" name="tip" value="10">
            <label for="ten">10%</label><br>
            <input type="radio" id="fifteen" name="tip" value="15">
            <label for="fifteen">15%</label><br>
            <input type="radio" id="twenty" name="tip" value="20">
            <label for="twenty">20%</label><br>
            <input type="radio" id="twenty-five" name="tip" value="25">
            <label for="twenty-five">25%</label><br>
            <label for="other">Other:</label>
            <input type="number" id="other" name="other_tip"><br>
            <input type="submit" value="Select" class="btn btn-success">
        </form>
        <!-- Potential place for lyft/uber link -->
    </div>
</body>

</html>